.toast {
   width: 6.2rem;
   transform: translate(4.5rem);
   ul {
      height: calc(100% - 1.1rem);

      li {
         height: calc((100% - 1rem) / 5);
         line-height: 1.2rem;
      }
   }
}