.card {
   div:nth-child(2) {
      div.layer {
         height: 50%;

         p {
            font-size: 0.7rem;
         }

         li {
            font-size: 0.6rem;
            list-style: none;
         }
      }
   }
}