.card {
   &:hover {
      outline: 1px solid #A3BFFA;
   }
   div:nth-child(2) {
      div.layer {
         &:first-child {
            height: 60%;
         }
         &:nth-child(2) {
            height: 40%;
         }

         p {
            font-size: 0.7rem;
         }

         li {
            font-size: 0.6rem;
            list-style: none;
         }
      }
   }

   .priority-icon {
      transform: translate(0.2rem, 0.2rem) !important;
   }
}